registry=https://acentrik-540306422608.d.codeartifact.ap-southeast-1.amazonaws.com/npm/package-js/
//acentrik-540306422608.d.codeartifact.ap-southeast-1.amazonaws.com/npm/package-js/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
//my_domain-111122223333.d.codeartifact.us-west-2.amazonaws.com/npm/my_repo/:always-auth=true